body {
  background-color: hsl(233, 47%, 7%);
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 310px;
  background-color: hsl(244, 38%, 16%);
  border-radius: 10px;
  box-sizing: border-box;
}
.card .header-container {
  width: 100%;
  position: relative;
  border-radius: 10px 10px 0 0;
}
.card .header-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(113, 53, 151, 0.537);
  border-radius: 10px 10px 0 0;
}
.card .header-container .image-header {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.card .card-body {
  padding: 30px;
}
.card .card-body .card-title {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: hsl(0, 0%, 100%);
  line-height: 30px;
  margin: 0 auto 17px;
}
.card .card-body .card-title span {
  color: hsl(277, 64%, 61%);
}
.card .card-body .card-desc {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 22px;
  margin: 0 auto 32px;
}
.card .card-body .card-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.card .card-body .card-stat .stat-list {
  width: 100%;
}
.card .card-body .card-stat .stat-list .stat-number {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: hsl(0, 0%, 100%);
  margin-bottom: 10px;
}
.card .card-body .card-stat .stat-list .stat-title {
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 200;
  font-size: 12px;
  color: hsla(0, 0%, 100%, 0.75);
}
.card .image-container {
  display: none;
}

.attribution {
  font-family: "Lexend Deca", sans-serif;
  color: hsl(0, 0%, 100%);
}
.attribution a {
  text-decoration: none;
}

@media only screen and (max-width: 374px) {
  .card {
    width: 80%;
  }
}
@media only screen and (min-width: 768px) {
  body {
    height: 100vh;
  }
  .card {
    flex-direction: row;
    width: 80%;
  }
  .card .header-container {
    display: none;
  }
  .card .card-body {
    width: 52%;
    box-sizing: border-box;
    padding: 30px;
  }
  .card .card-body .card-title {
    font-size: 37px;
    text-align: start;
    line-height: 45px;
    margin-bottom: 26px;
  }
  .card .card-body .card-desc {
    text-align: start;
    margin-bottom: 68px;
    font-weight: 400;
  }
  .card .card-body .card-stat {
    flex-direction: row;
    gap: 30px;
  }
  .card .card-body .card-stat .stat-list .stat-number {
    text-align: start;
  }
  .card .card-body .card-stat .stat-list .stat-title {
    text-align: start;
    font-weight: 400;
  }
  .card .image-container {
    display: block;
    width: 48%;
    position: relative;
    border-radius: 0 10px 10px 0;
  }
  .card .image-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(113, 53, 151, 0.537);
    border-radius: inherit;
  }
  .card .image-container .desktop-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: inherit;
  }
}
@media only screen and (min-width: 1024px) {
  .card {
    width: 75%;
  }
  .card .card-body {
    padding: 70px 100px 50px 90px;
  }
}
@media only screen and (min-width: 1441px) {
  .card {
    width: 75%;
  }
  .card .card-body {
    padding: 70px;
  }
  .card .card-body .card-title {
    font-size: 46px;
  }
  .card .card-body .card-desc {
    font-size: 24px;
    line-height: 30px;
  }
  .card .card-body .card-stat .stat-list .stat-number {
    font-size: 30px;
  }
  .card .card-body .card-stat .stat-list .stat-title {
    font-size: 22px;
  }
}/*# sourceMappingURL=style.css.map */